
body{
    background-color: lightsteelblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    text-align: center;
}

p{
    color: blueviolet;
    font-size: 24px;

}
#parrafo-importante{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

a,img{
    display: block;
}

a{
    margin: 50px  20px;
}

a:hover{
    color:blue
}